.preloader{
    display: none;
}

.admin{

    &__dashboard{

        .card{

            a{
                display: block;
                color: #000;
            }

            i{
                font-size: 60px;
            }
        }
    }
}


#calendar{

    a{
        color: #000;
    }

}

.fc-theme-standard .fc-scrollgrid{
    border: 1px solid #999;
    border-right-width: 0;
    border-bottom-width: 0;
}

.fc-theme-standard td, .fc-theme-standard th{
    border: 1px solid #999;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number,
.fc-daygrid-day-top{
    color: #333;
}
.fc-day-sat{
    background-color: #cce3f6;
}
.fc-day-sun{
    background-color: #f4d0df;
}


.bookingForm{

    dl{
        align-items: center;
    }

    dt{
        margin: 0;
        padding: 0;
        width: 100px;
    }

    dd{
        margin: 0;
        padding: 0;
    }

}

label{
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select,
textarea{
    padding: 5px 15px;
    cursor: pointer;
}

input[name="booking_person"]{
    text-align: right;
    width: 50px;
}

