@media screen and (max-width: 767px) {
    .pc {
        display: none !important;
    }
}
@media screen and (min-width: 768px) {
    .sp {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .pc_large {
        display: none !important;
    }
}
@media screen and (min-width: 992px) {
    .sp_large {
        display: none !important;
    }
}

body{
    font-size: 15px;
    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

/************************
wrapper
************************/
.wrapper {
    margin: 0;
    padding: 50px 0 0;
    width: 100%;
    background-color: #ccc;
    overflow: hidden;
}

.site-header {
    padding: 0 10px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
    }
}

.header__logo{

    a{
        color: inherit;
        text-decoration: none;
    }
}

@media screen and (max-width: 767px) {
    .header__navi{
        display: none;
        width: 100%;
        height: calc( 100vh - 50px );
        background-color: #eee;
        position: absolute;
        left: 0;
        top: 100%;

        nav.gNavi{
            padding: 50px;

            ul.main{
                display: flex;
                flex-wrap: wrap;

                & > li{
                    margin: 15px 0;
                    width: 100%;
                    text-align: center;

                    a{
                        font-size: 22px;
                        color: inherit;
                        text-decoration: none;
                    }

                    &.hasChild{

                        & > a{
                            pointer-events: none;
                        }
                    }

                    &.open{

                        ul.sub{
                            display: block;
                        }
                    }
                }
            }

            ul.sub{
                display: none;
                margin-top: 20px;

                & > li{
                    margin: 5px 0;
                    width: 100%;
                    text-align: center;

                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 50px;
                        font-size: 16px;
                        border: 1px solid #333;
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }


        }
    }

    .menu-open .header__navi{
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .header__navi{

        nav.gNavi{

            ul.main{
                display: flex;
                justify-content: flex-end;
                margin: 0 -10px;

                & > li{
                    padding: 0 10px;
                    position: relative;

                    &:hover{

                        ul.sub{
                            visibility: visible;
                            height: auto;
                            pointer-events: all;
                        }
                    }

                    a{
                        padding: 0 20px;
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }

            ul.sub{
                visibility: hidden;
                height: 0;
                pointer-events: none;
                background-color: #fff;

                width: 170px;
                position: absolute;
                right: 0;
                top: 100%;

                & > li{
                    padding: 10px 0;
                    border-bottom: 1px solid #333;

                    a{
                        padding: 0 10px;
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }

        }
    }
}

.site-footer {
    padding: 15px 20px;
    color: #fff;
    background-color: #282828;

    .inner {
        margin: 0 auto;
        width: 100%;
        max-width: 980px;
    }

    .copyright {
        margin: 0;
        font-size: 11px;
        text-align: center;
    }
}

.page-content{
    margin: 0 auto;
    padding: 50px 20px;
    width: 100%;
    max-width: 980px;
    background-color: #fff;

    .inner{
        margin: 0 auto;
        width: 100%;
        max-width: 920px;
    }
}
@media screen and (min-width: 768px) {
    .page-content{
        padding: 50px 100px 100px;
    }
}
