.card{
    margin: 50px 0;
}

.orderTable{
    margin: 25px 0;

    dt, dd{
        margin: 5px 0;
    }

    dt{
        display: flex;
        align-items: center;
        line-height: 1;

        &::before{
            content: "■";
        }
    }

    dd{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.hissu{
    margin-left: 5px;
    color: #f00;
    font-size: 85%;
    line-height: 1;
}

label {
    margin: 5px 0;
}

input[type="text"], input[type="number"]{
    padding: 0 10px;
}

input[type="number"]{
    text-align: right;
}

textarea{
    width: 100%;
    height: 150px;
    max-width: 400px;
}

.shoppingFlow{
    margin: 0 auto 50px;
    width: 100%;
    max-width: 600px;

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -5px;
        width: 100%;
    }

    li{
        padding: 0 5px;
        width: 33.3333%;

        span{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            font-size: 20px;
            border: 1px solid #eee;
        }

        &.current{

            span{
                background-color: #eee;
            }
        }
    }
}

.product_name{
    font-size: 26px;
    font-weight: 700;
}

.productList{

    li{
        margin: 5px 0;
    }

    span{
        display: inline-block;
    }

    input[type="text"]{
        margin-right: 5px;
        width: 5em;
        text-align: right;
    }
}

.priceSumBox{

    .total_sum{
        margin-right: 5px;
        font-size: 26px;
        font-weight: 700;
        text-align: right;
        border: 0;
        border-radius: 0;
    }

    .caution{
        display: block;
        color: #f00;
        font-size: 85%;
    }
}


.paymentMessg{

    &.border{
        margin-top: 20px;
        padding: 10px;
        color: #b47612;
        text-align: center;
        border: 1px solid #b47612;
    }
}

.optNoshiType{

    li{
        display: flex;
        align-items: center;
        margin: 5px 0;

        img{
            display: block;
            margin-right: 5px;
            width: 80px;
        }
    }
}


.optionDetail{
    display: none;
    padding-left: 50px;

    @media screen and (min-width: 992px){

        .orderTable{
            display: flex;
            flex-wrap: wrap;

            dt{
                margin: 0;
                width: 220px;
            }

            dd{
                width: calc( 100% - 220px );
            }
        }

    }


    &.open{
        display: block;
    }
}

.optMessage{
    color: #f00;
    font-size: 85%;
}

.address{

    label{
        display: block;
        width: 100%;
    }
}

.submitButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -5px;
}

.btn_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 200px;
    height: 50px;
}

.shopping__thanks{
    padding: 50px 0;
    text-align: center;
}


.errorMsg{
    width: 100%;
    color: #f00;
}
