.h3, h3 {
    font-size: 1.4rem;
}

.h4, h4 {
    font-size: 1.2rem;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 0;
    padding: 0;
}

.w180px{
    width: 190px;
}

.content-wrapper>.content{
    padding-bottom: 5rem;
}

.filter{

    &__block{
        width: 440px;
    }

    &__item{

        dt{
            width: 70px;
        }

        dd{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: calc( 100% - 70px );

            select[name="pName"]{
                width: auto;
            }
        }

    }


}
